<!doctype html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>Lista ToDo con AngularJS</title>
	<script src="http://code.angularjs.org/1.2.0rc1/angular.min.js"></script>
	<script src="http://documentcloud.github.io/underscore/underscore-min.js"></script>
	<script src="js/todo.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/todo.css">
</head>
<body>
	<div class="container" ng-controller="TodoControlador">
		<h1>AngularJS tareas</h1>
		<ul class="list-unstyled tareas">
			<li ng-repeat="todo in todos">
				<input type="checkbox" ng-model="todo.ok">
				<span class="ok-{{todo.ok}}">{{todo.text}}</span>
			</li>
		</ul>
		<h3>Tareas en total: {{getTotalTodos()}}</h3>
		<form class="form-horizontal">
			<input type="text" class="form-control" ng-model="formTodoText" ng-model-instant> 
			<button class="btn-sm btn-primary" ng-click="addTodo()"><span class="glyphicon glyphicon-plus-sign"></span>Añadir tarea</button>	<br><br>
			<button class="btn btn-danger" ng-click="clearCompleted()"><span class="glyphicon glyphicon-trash"></span>Eliminar tareas completadas</button>
		</form>
	</div>
</body>
</html>